.feed {
    flex-grow: 1;
    overflow-y: scroll;
    padding: 10px;
    padding-left: 20%;
    padding-right: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.feed::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.feed {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.feed h1 {
    margin-left: 20%;
}
.post {
    background-color: #191919;
    padding: 20px;
    width: 80%;
    height: max-content;
    margin: 10px;
    word-break: break-all;
    border-radius: 10px;
}


.postMain {
    font-size: x-large;
    height: max-content;
    width: 100%;
    word-break: break-word;;   
    margin: 15px;
}

.postMain > a {
    word-break: break-all;
}
.postTime {
    margin-left: auto;
    margin-top: 20px;
    height: max-content;
    width: max-content;
    font-size: small;
}
.postTop {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: space-between;
}
.userInformation {
    display: flex;
    align-items: center;
    width: max-content;
    justify-content: center;
    height: max-content;
    background-color: #191919;
}

.userInformation p {
    width: max-content;
    height: max-content;
    margin-left: 10px;
}

.userInformation img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid black;
    margin-left: 10px;
    cursor: pointer;
}

.userInformation img:hover {
    scale: 1.2;
}

.messengerButtonContainer {
    display: flex;
    align-items: center;
    width: max-content;
}

.messengerButtonContainer button {
    height: 30px;
    width: 30px;
    background-color: #838383;
    border-radius: 5px;
    background-image: url('../public/messenger-icon.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    outline: none;
    cursor: pointer;
    margin-right: 10px;
}

.messengerButtonContainer button:hover {
    scale: 1.2;
}

@media (max-width: 768px) {

    .feed {
        padding: 10px;
    }
    .post {
        width: 90%;
    }
}